body{
	background: #ff6700;
	
}
.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 0.895fr;
	grid-template-rows: .28fr 1fr;
	grid-template-areas:
		'display display display display'
		'numbers numbers numbers operators';
	height: 720px;
	width: 400px;
	font-family: Arial, Sans-serif;
	border-radius: 10px;
	border: .5px solid #202124;
	margin:auto;
	margin-top: 4em;
	background: #202124;
	box-shadow:10px 10px 50px 15px #932900;
}

p{
	text-align: center;
	padding: 2em;
	color: black;
}

a{
	color: #FFFFFF;
	text-decoration: none;
}

/*text colors*/
.whiteText{
	color: #E7E9EC;
}
.blueText{
	color: #8AB4F8;
}
.greyText{
	color: #9AA0A6;
}


.display{
	grid-area: display;
	display:grid;
	grid-template-rows:.38fr .117fr .147fr .117fr .176fr;
	grid-template-columns: auto;
	grid-template-areas: 
		'.'
		'calc'
		'display1'
		'result'
		'.';
	background: #2D3033;
	box-shadow: 0 8px 6px -6px black;
	border-radius: 10px;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	font-weight:bold;
	font-size: 1.3em;
}
.calc{
	grid-area: calc;
	margin-left: 1.54em;
	margin-bottom: 1em;

	margin-top:1em;
}
.display1{
	grid-area: display1;
	text-align: right;
	font-size: 1.5em;
	margin-right: .8em;
	margin-left: 1em;
	/*fontsize padding*/
}
.result{
	grid-area: result;
	text-align:right;
	margin-top:1.3em;
	margin-right: 1em;
	margin-left: 1em;
	/*fontsize padding*/
}
.numbers{
	grid-area:numbers;
	display:grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	border-bottom-left-radius:10px;
}


button{
	background: #202124;
	height:100%;
	width:100%;
	font-weight:bold;
	font-size:2em;
	transition: all .07s ease;
	border: none;
}

.operators{
	grid-area:'operators';
	display:grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	border-bottom-right-radius:10px;
}
.pressed{
	box-shadow: inset 0 0 .5em #4085b5;
	box-shadow: 0 0 1rem #ffc600;
	outline:none;
	transform: scale(1.1);
}

#me
{
	color: #064789;
	font-weight: bold;
	font-family: sans-serif;
}

button:active
{
	box-shadow: 0 0 .3em #4085b5 inset;
}

@media (max-width: 700px)
{
	.grid-container
	{
		height: 100%;
		width: 80%;
	}
}

button:focus
{
	outline: none;
	border: none;
}
button::-moz-focus-inner{
	border:none;
}